#searchContainer {
    max-width: 50%;
    margin: auto;
}

#header {
    font-size: 26px;
    margin: 15px auto;
    text-align: center;
}

#searchBarWrapper {
    text-align: center;
}

#searchBar {
    margin: 0px auto 15px auto;
}

#searchInput {
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 20px;
    width: 60%;
}

#searchButton {
    border: 2px solid black;
    color: black;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    background-color: lightgrey;
}

#searchButton:hover {
    background-color: darkgrey;
}

#results {
    margin: 0 auto;
}

#resultsLabel {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}
