#searchContainer {
    max-width: 50%;
    margin: auto;
}

#header {
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
}

#searchBarWrapper {
    text-align: center;
}

#searchInput {
    border: 2px solid black;
    border-right: none;
    border-radius: 50px 0 0 50px;
    padding: 10px 20px;
    font-size: 20px;
    width: 60%;
}

#searchButton {
    position: relative;
    right: 0px;
    border: none;
    border: 2px solid black;
    border-radius: 0 50px 50px 0;
    color: black;
    font-size: 20px;
    cursor: pointer;
    background-color: #e6e6e6;
    padding: 10px 12px;
}

#searchButton:hover {
    background-color: #cccccc;
}

#results {
    margin: 0 auto;
}

#resultsLabel {
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
}
